
@{
	ViewBag.Title = "Richiesta Credenziali - Informazioni";
}
<br />
<a href="@Url.Action("Index","Home")" class="btn btn-info">Torna alla Home</a>
<hr />
<h2>Richiesta Credenziali</h2>
<hr />
<h3>Requisiti per la richiesta delle credenziali di accesso al Dipartimento</h3>
<p>Essere cittadini dell’Unione Europea o cittadini di Svizzera, Islanda, Norvegia e Liechtenstein.</p>
<h3>Modalità</h3>
<p>
	Compilare la maschera di registrazione fornendo i tuoi dati anagrafici completi di indirizzo mail valido e di un numero di cellulare, copia di un documento di riconoscimento in corso di validità e il modulo di informativa della Privacy debitamente firmato.
</p>
<p>
	Il Dipartimento valuterà la richiesta e se accettata invierà le credenziali via mail. Nel caso in cui la richiesta non sia accettata, verrà inviata una mail con le motivazioni.
	Non sarà possibile fare più di una richiesta di credenziali. È possibile ri-effettuare la richiesta solo se la precedente è stata rifiutata. Per problemi contattare….
</p>

<a href="@Url.Action("Index")" class="btn btn-info">Procedi</a>

