@{
	var fileBozza = File.ReadAllBytes(HttpContext.Current.Server.MapPath("~/Images/bozza.png"));
}
<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<html lang="it-it">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servizio Civile - @ViewBag.Title</title>
	<style>
	.sfondoBozza{
		background-image:url(data:image/png;base64,@Convert.ToBase64String(fileBozza));
	}

	.body{
		padding:2em;
	}


	.logoSC {
		height: 50px;
	}


	.logoUE {
		padding-top:5px;
		height: 35px;
	}


	.logoPNRR {
		padding-top: 5px;
		width: 100%;
	}

	.logoGG {
		height: 44px;
	}

	.logoAnpal {
		padding-top: 5px;
		height: 44px;
	}

	.logoPCM {
		height: 44px;
	}

	.hidePrint {
		display:none;
	}
	.panel-body ul{
		margin: 0 0 0 10px;
	}
	.text-center{
		text-align:center;
	}
	.panel{
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 10px;
		margin-bottom: 15px;
	}
	li{
		text-align: justify;
	}
	p {
		text-align: justify;
		font-size: 12px;
		margin: 0 0 10px;
		page-break-inside:avoid;
	}


	h3 {
		font-size: 15px;
		font-family: inherit;
		line-height: 1.1;
		color: inherit;
		display: block;
		font-size: 1.17em;
		font-weight: bold;
		text-align: center;
	}

	</style>
</head>

<body>

	<div class="container body-content">
		@RenderBody()
	</div>
</body>
</html>
