<p class="text-center"><strong><u>***Informativa sul diritto alla protezione dei dati personali</u><br />ai sensi del Regolamento UE 2016/679</strong></p>
<p>Gentile candidato,</p>
<p>La informiamo che i Suoi dati personali saranno trattati, in conformità al Regolamento UE 2016/679 – di seguito Regolamento - dalla Presidenza del Consiglio dei Ministri - Dipartimento per le politiche giovanili e il Servizio civile universale (di seguito Dipartimento) con sede in Via della Ferratella in Laterano, 51 - 00184 Roma.</p>
<br />
<p><strong>Titolare del trattamento</strong></p>
<p>Il Titolare del trattamento dei dati personali è il Capo Dipartimento pro-tempore domiciliato per la carica in Via della Ferratella in Laterano, 51 - 00184 Roma.</p>
<br />
<p><strong>Responsabili del trattamento</strong></p>
<p>I dati personali da Lei forniti sono utilizzati dal Dipartimento, in qualità di “<em>Titolare del trattamento</em>” e dall’ente che cura la procedura selettiva e che eventualmente la impiegherà come operatore volontario, in qualità di “<em>Responsabile del trattamento</em>” ai sensi e per gli effetti di cui all’articolo 28 del Regolamento. Qualora l’ente sia iscritto ad un Albo regionale del servizio civile, anche la relativa Regione o Provincia Autonoma opera in qualità di “<em>Responsabile del trattamento</em>”, ai sensi e per gli effetti di cui all’articolo 28 del Regolamento, per le attività di competenza.</p>
<br />
<p><strong>Finalità del trattamento e veridicità dei dati comunicati</strong></p>
<p>I dati personali da Lei forniti sono necessari per gli adempimenti previsti per legge e dal Bando per le finalità di espletamento delle attività concorsuali e, successivamente all’eventuale instaurazione del rapporto di servizio civile, sono trattati per le finalità connesse alla gestione del rapporto stesso, alla realizzazione del progetto di servizio civile, alle relazioni con la Rappresentanza nazionale degli operatori volontari, alle attività istituzionali del Dipartimento e delle Regioni e Province Autonome.</p>
<p>In particolare, <strong>la comunicazione dei suoi dati personali e l’autorizzazione al loro trattamento sono necessarie ai fini della valutazione dei requisiti di partecipazione alla selezione, pena l’esclusione dalla stessa.</strong></p>
<p>La informiamo che, ove necessario per il perseguimento delle finalità e dell’adempimento degli obblighi specificati, il Dipartimento potrà raccogliere presso altre pubbliche amministrazioni o enti pubblici e privati altre categorie di Suoi dati personali.</p>
<p>Si rammenta che la comunicazione di dati non veritieri determina l’irrogazione di sanzioni amministrative, fatta salva l’eventuale rilevanza penale della relativa condotta, ai sensi dell’articolo 76 del D.P.R. 28 dicembre 2000 n. 445.</p>
<br />
<p><strong>Modalità di trattamento e conservazione</strong></p>
<p>I Suoi dati personali saranno trattati da questo Dipartimento anche mediante l’ausilio di strumenti automatizzati per il tempo necessario a conseguire gli scopi per cui sono stati raccolti; gli stessi dati saranno conservati per l’arco temporale stabilito dal “<a href="http://www.pcm.it/NormeDocumenti/Archivi/doc/PianoConservazione_dicembre2017.pdf" title="Scarica il piano di conservzione (Si apre in un'altra finestra)" target="_blank">Piano di conservazione degli atti d’archivio della PCM</a>”. Il piano vigente, adottato con Direttiva del Segretario Generale ai sensi dell’art.68 DPR 445/2000, prevede in particolare che i dati relativi alla gestione dei volontari in servizio abbiano un tempo di conservazione permanente, ad eccezione di quelli riguardanti graduatorie, contratti, trattamento economico e contributi previdenziali che sono conservati per 10 anni.</p>
<p>Il Titolare del trattamento, nel rispetto di quanto previsto dall’art. 32 del GDPR 2016/679, pone in atto misure idonee a garantire che i Suoi dati personali siano trattati in modo adeguato e conforme alle finalità per cui vengono gestiti e impiega misure di sicurezza, organizzative e tecniche, idonee a tutelare i Suoi dati personali dall’alterazione, dalla distruzione, dalla perdita, dal furto o dall’utilizzo improprio o illegittimo.</p>
<p>I Responsabili del trattamento si impegnano a garantire misure organizzative e tecniche idonee alla tutela dei dati personali trattati.</p>
<br />
<p><strong>Ambito di comunicazione e diffusione</strong></p>
<p>I suoi dati personali non saranno oggetto di diffusione senza Suo esplicito consenso, tuttavia, se necessario, potranno essere comunicati:</p>
<ol type="a">
	<li>ai soggetti cui la comunicazione dovrà essere effettuata in adempimento ad un obbligo previsto dalla normativa nazionale e/o comunitaria ovvero per adempiere ad un ordine dell’Autorità Giudiziaria;</li>
	<li>ai soggetti autorizzati al trattamento dei dati personali direttamente dal Titolare del trattamento o dal Responsabile del trattamento, il quale non potrà delegare a terzi il trattamento dei dati in assenza di previa autorizzazione scritta del Titolare del trattamento;</li>
	<li>ad altri eventuali soggetti terzi, nel rispetto delle vigenti disposizioni in materia di protezione dei dati personali, nei casi espressamente previsti dalla legge o quando la comunicazione si renda necessaria per la tutela del Dipartimento in sede giudiziaria.</li>
</ol>
<br />
<p><strong>Trasferimento dei dati personali</strong></p>
<p>Il Titolare del trattamento può trasferire i suoi dati personali a soggetti pubblici o privati al di fuori del territorio nazionale soltanto per finalità connesse all’attuazione di progetti da svolgersi presso sedi estere.</p>
<br />
<p><strong>Categorie particolari di dati personali</strong>	</p>
<p>Ai sensi degli articoli 9 e 10 del Regolamento UE n. 2016/679, Lei potrebbe conferire al Dipartimento o al Responsabile del trattamento, solo se ciò fosse strettamente connesso allo specifico progetto per cui si candida, dati qualificabili come “categorie particolari di dati personali” e cioè quei dati che rivelano “<em>l'origine razziale o etnica, le opinioni politiche, le convinzioni religiose o filosofiche, o l'appartenenza sindacale, nonché dati genetici, dati biometrici intesi a identificare in modo univoco una persona fisica, dati relativi alla salute o alla vita sessuale o all’orientamento sessuale della persona</em>”. Pertanto, in forma preventiva, le viene chiesto di esprimere il suo consenso anche al trattamento di tali dati.</p>
<br />
<p><strong>Diritti dell’interessato</strong></p>
<p>In ogni momento, Lei potrà esercitare, ai sensi degli articoli dal 15 al 22 del Regolamento UE n. 2016/679, il diritto di:</p>
<ol type="a">
	<li>chiedere la conferma dell’esistenza o meno di propri dati personali;</li>
	<li>ottenere le indicazioni circa le finalità del trattamento, le categorie dei dati personali, i destinatari o le categorie di destinatari a cui i dati personali sono stati o saranno comunicati e, quando possibile, il periodo di conservazione;</li>
	<li>ottenere la rettifica e la cancellazione dei dati;</li>
	<li>ottenere la limitazione del trattamento;</li>
	<li>ottenere la portabilità dei dati, ossia riceverli da un titolare del trattamento, in un formato strutturato, di uso comune e leggibile da dispositivo automatico, e trasmetterli ad un altro titolare del trattamento senza impedimenti;</li>
	<li>opporsi al trattamento in qualsiasi momento;</li>
	<li>chiedere al titolare del trattamento l’accesso ai dati personali e la rettifica o la cancellazione degli stessi o la limitazione del trattamento che lo riguardano o di opporsi al loro trattamento, oltre al diritto alla portabilità dei dati;</li>
	<li>revocare il consenso in qualsiasi momento senza pregiudicare la liceità del trattamento basata sul consenso prestato prima della revoca ferme restando le conseguenze della revoca sui procedimenti in corso;</li>
	<li>proporre reclamo a un’autorità di controllo.</li>
</ol>
<br />
<p>Con esclusivo riferimento alla protezione dei dati personali, può esercitare i Suoi diritti con richiesta scritta inviata alla Presidenza del Consiglio dei Ministri - Dipartimento per le politiche giovanili e il Servizio civile universale all’indirizzo di casella di posta elettronica <a href="mailto:dpo@serviziocivile.it">dpo@serviziocivile.it</a>.</p>
<p>Ove ritenuto che il trattamento dei Suoi dati personali sia avvenuto in modo non conforme al Regolamento, ha diritto di proporre reclamo all'Autorità di controllo competente (Garante per la Protezione dei Dati Personali) ai sensi dell'art. 77 del Regolamento.</p>