@using DomandeOnline.Data
@model DomandaPartecipazione
@{
	ViewBag.Title = "Errore";
}

<h2>@ViewData["Errore"]</h2>
<p>Non puoi procedere alla presentazione della domanda di partecipazione al Servizio Civile		poiché non sono soddisfatti i requisiti.</p>
