<?xml version="1.0"?>
<!--
  Per ulteriori informazioni su come configurare l'applicazione ASP.NET, visitare il sito Web all'indirizzo
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Futuro.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
    <!--<add name="unscproduzionenewConnectionString" connectionString="Data Source=.;Initial Catalog=unscproduzione;Persist Security Info=True;User ID=sa;Password=?vbra250?" providerName="System.Data.SqlClient"/> -->
    <add name="ApplicationServices" connectionString="Data Source=;Initial Catalog=;Persist Security Info=True;User" providerName="System.Data.SqlClient"/>
    <add name="unscproduzionenewConnectionString" connectionString="Data Source=;Initial Catalog=;Persist Security Info=True;User ID=;Password=" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false"/>
    </settings>
  </system.net>
  <system.web>
    <httpRuntime executionTimeout="300"  maxRequestLength="51200"/>

    <pages>
      <controls>
        <add assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" tagPrefix="asp"/>
      </controls>
    </pages>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>

    </compilation>

    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>

        <clear/>

        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>

    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="60"  sessionIDManagerType="Futuro.GuidSessionIDManager, Futuro"/>

    <!-- 
  <httpHandlers><add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers>
-->
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <appSettings>
    <add key="DisabilitaFirma" value="true"></add>
    <add key="IsTest" value="1"/>
    <add key="URL_WS_Autenticazione" value="http://sistemaunicoscn.serviziocivile.it/WSAUTENTICAZIONE/WsAutenticazione.asmx"/>
    <add key="URL_WS_Documentazione" value="http://www1/sistemaunicoscn/WSDocumentazione/WSMetodiDocumentazione.asmx"/>
    <!--DB Learning-->
    <add key="strConnLearning" value="user id=sa;password=?vbra250?;data source=www1;persist security info=False;connect timeout=300;Max Pool Size=3000;initial catalog=dbe-learning"/>
    <!--PARAMETRI PER LA CONNESSIONE AL DB DELLE FORM DELLA RICERCA DEGLI INDIRIZZI USATE DALL'ESTERNO-->
    <add key="DB_USERNAMELETTURA" value=""/>
    <add key="DB_PASSWORDLETTURA" value=""/>



    <add key="LogConnectionString" value="Data Source=;Initial Catalog=;Integrated Security=True"/>
    <add key="LogFilePath" value="c:/Log"/>
    <add key="LogFileNameTemplate" value="Log@Date@.txt"/>
    <add key="LogFileDaysToExpire" value="30"/>

    <add key="UrlSistemaAccesso" value="https://localhost:44348/AccessoSistemaUnico"/>

    <!--   <add key="dbUsername" value="sa" />
    <add key="dbPWD" value="vbra250" />
    <add key="dbDataSource" value="PC-1924" />
    <add key="dbCatalog" value="unscproduzione" />
  PARAMETRI PER LAVORARE IN UNSC -->
    <!-- SANDOKAN -->

    <!-- WWW1  SQLTEST unscsviluppo  -->
    <add key="DB_USERNAME" value=""/>
    <add key="DB_PASSWORD" value=""/>
    <add key="DB_NAME" value=""/>
    <!-- modificato per andare in locale
    <add key="DB_DATA_SOURCE" value="SQLTEST"/>
    -->
    <add key="DB_DATA_SOURCE" value=""/>

    <add key="DB_NAME_SNAPSHOT" value=""/>
    <!-- PARAMETRI PER SIGED PC-1924-->


    <!-- WWW1  SQLTEST  unscproduzione ADC
    <add key="DB_USERNAME" value="sa"/>
    <add key="DB_PASSWORD" value="?vbra250?"/>
    <add key="DB_NAME" value="unscproduzione"
    <add key="DB_DATA_SOURCE" value="SQLTEST"/>
    <add key="DB_NAME_SNAPSHOT" value="UNSC_SNAPSHOT"/> -->
    <!-- PARAMETRI PER SIGED PC-1924-->

    <!-- produzione   SQLSUSCN  
    
    <add key="DB_USERNAME" value="sa"/>
    <add key="DB_PASSWORD" value="vbra250"/>
    <add key="DB_NAME" value="unscproduzione"/>
    <add key="DB_DATA_SOURCE" value="SQLSUSCN"/>
    <add key="DB_NAME_SNAPSHOT" value="UNSC_SNAPSHOT"/>-->
    <!-- TEST -->
    <add key="SERVER_SIGED" value="welodgedb"/>
    <add key="CARTELLA_SIGED" value="wstemp$"/>
    <!-- PRODUZIONE<add key="SERVER_SIGED" value="APPL" />
    <add key="CARTELLA_SIGED" value="wstemp$" />-->
    <add key="PercorsoFileAssicurazioni" value="\\www1\modhelios$\assicurazione\"></add>
    <add key="PercorsoFileAssicurazioniGG" value="\\www1\modhelios$\assicurazioneGG\"></add>
    <add key="GoogleKey" value="AIzaSyA_aKXQs9U4eJHEm3yivfCKec0gJ4a_Zz8"></add>
    <!-- chiave Logica-->
  </appSettings>
  <applicationSettings>
    <Futuro.My.MySettings>
      <!-- TEST -->
      <setting name="Futuro_WS_Autenticazione_wsAutenticazione" serializeAs="String">
        <value>http://www1/sistemaunicoscn/WSAutenticazione/WSAutenticazione.asmx</value>
      </setting>
      <!-- PRODUZIONE 
      <setting name="Futuro_WS_Autenticazione_wsAutenticazione" serializeAs="String">
        <value>http://sistemaunicoscn.serviziocivile.it/WSAutenticazione/WSAutenticazione.asmx</value>
      </setting>-->

      <setting name="Futuro_WSHeliosUtility_WSHeliosUtility" serializeAs="String">
        <value>http://www1/sistemaunicoscn/WSHeliosUtility/WSHeliosUtility.asmx</value>
      </setting>
      <!-- TEST -->
      <setting name="Futuro_WS_SIGeD_Auth_SIGED_AUTH" serializeAs="String">
        <value>http://testing2008/WSWL/SIGED_AUTH.asmx</value>
      </setting>
      <!-- PRODUZIONE <setting name="Futuro_WS_SIGeD_Auth_SIGED_AUTH" serializeAs="String">
        <value>http://192.168.1.175/WLWS/SIGeD_Auth.asmx</value>
      </setting>-->

      <!-- TEST -->
      <setting name="Futuro_WS_SIGeD_SIGED_WS" serializeAs="String">
        <value>http://testing2008/WSWL/SIGED_WS.asmx</value>
      </setting>
      <!-- PRODUZIONE 
      <setting name="Futuro_WS_SIGeD_SIGED_WS" serializeAs="String">
        <value>http://192.168.1.175/WLWS/SIGeD_WS.ASMX</value>
      </setting>-->
      <setting name="Futuro_WSHeliosInterno_HeliosInterno" serializeAs="String">
        <value>http://www1/sistemaunicoscn/WSHeliosInterno/wsheliosinterno.asmx</value>
      </setting>
      <setting name="Futuro_WS_Editor_WSMetodiDocumentazione" serializeAs="String">
        <value>http://www1/sistemaunicoscn/WSDocumentazione/WSMetodiDocumentazione.asmx</value>
      </setting>
    </Futuro.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>