
@{
	ViewBag.Title = "Regolamento";
}
<br />
<a href="@Url.Action("Index","Home")" class="btn btn-info">Torna alla Home</a>
<hr />
<h2>Regolamento</h2>
<hr />
<p>
	Sistema gestione Domande On Line (DOL) per aspiranti Operatori volontari di Servizio civile universale
	Da quest’anno la domanda si presenta tramite una procedura online. Quindi non sarà più necessario scaricare i moduli, riempirli e inviarli all’ente che realizza il progetto.
</p>
<h4>
	Requisiti per presentare la domanda
</h4>
<ul>
	<li>
		Età compresa tra i 18 e 28 anni (28 anni e 364 giorni)
	</li>
	<li>
		Cittadinanza italiana, ovvero di uno degli Stati membri dell’Unione Europea, ovvero di un Paese extra UE purché regolarmente soggiornante in Italia
	</li>
	<li>
		Non aver riportato condanna anche non definitiva alla pena della reclusione superiore ad un anno per delitto non colposo ovvero ad una pena della reclusione anche di entità inferiore per un delitto contro la persona o concernente detenzione, uso, porto, trasporto, importazione o esportazione illecita di armi o materie esplodenti, ovvero per delitti riguardanti l’appartenenza o il favoreggiamento a gruppi eversivi, terroristici o di criminalità organizzata.
	</li>
</ul>
<h4>
	Modalità per effettuare la domanda
</h4>
<p>
	Per presentare la domanda effettua l’accesso tramite SPID e compila la tua domanda on line
</p>

