<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WsHeliosPrivato2010.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- Parametri di connessione al DB di PROD (webhelios3/webhelios4) -->
    <!--
  <add key="connectionUserid" value="xxxxxx"/>
  <add key="connectionPassword" value="xxxxxx"/>
  <add key="connectionServerName" value="xxxxxx"/>
  <add key="connectionCatalog" value="xxxxxx"/>
  <add key="connectionTimeout" value="300"/>
  <add key="connectionMaxPoolSize" value="3000"/> 
  -->

    <!-- Parametri di connessione al DB di TEST HELIOS e TEST ELEZIONI -->
    <add key="cnHelios" value="user id=xxxxxx;password=xxxxxx;data source=xxxxxx;persist security info=False;connect timeout=300;initial catalog=xxxxxx"/>
    <add key="cnElezioni" value="user id=xxxxxx;password=xxxxxx;data source=sxxxxxx;persist security info=False;connect timeout=300;initial catalog=xxxxxx"/>
    <!-- Parametri di connessione al DB di PROD HELIOS e PROD ELEZIONI
  <add key="cnHelios" value="user id=xxxxxx;password=xxxxxx;data source=xxxxxx;persist security info=False;connect timeout=300;initial catalog=xxxxxx" />
  <add key="cnElezioni" value="user id=xxxxxx;password=xxxxxx;data source=xxxxxx;persist security info=False;connect timeout=300;initial catalog=xxxxxx" />
-->
    <add key="BloccaDatiPaghe" value="SI" />
	  
	  <add key="urlLoginVolontario" value="http://testingdol/Account/CheckCredenziali" />
	  <add key="urlInputCambioPassword" value="http://testingdol/Account/CambiaPasswordJson" />
	  <add key="urlInputRecuperoPassword" value="http://testingdol/Account/RecuperoPasswordJson" />
	  
    <!-- Parametri di connessione al DB di PROD (sqlhelios)per la generazione del PDF -->
    <add key="connectionUserid" value="xxxxxx" />
    <add key="connectionPassword" value="xxxxxx" />
    <add key="connectionServerName" value="xxxxxx" />
    <add key="PDFConnectionDatabaseNameStorico" value="xxxxxx" />
    <add key="PDFConnectionDatabaseName" value="xxxxxx" />
    <!-- Parametri per invio msg di posta elettronica -->
    <add key="mailFrom" value="gestionesito@serviziocivile.it" />
    <add key="mailBcc" value="gestionesito@serviziocivile.it" />
    <add key="mailSubject" value="Password Area riservata volontari" />
    <!-- Formato corpo del msg.Valori possibili: "html", "text" -->
    <add key="mailBodyFormat" value="html" />
    <add key="mailBody" value="la sua password per entrare nell'Area riservata volontari e' la seguente: " />
    <add key="smtpServer" value="smtp.serviziocivile.it" />
    <!-- Parametro per scrivere msg di debug sul log (valori possibili: s ==> debug; n ==> NO debug -->
    <add key="debugApp" value="s" />
    <add key="URL_WS_HeliosUtility" value="http://www1/sistemaunicoscn/WSHeliosUtility/WSHeliosUtility.asmx" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <!--<webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>-->
    <!-- 
            Impostare compilation debug="true" per inserire i 
            simboli di debug nella pagina compilata. Poiché tale operazione ha effetto 
            sulle prestazioni, impostare questo valore su true 
            solo durante lo sviluppo.

            Opzioni di Visual Basic:
            Impostare strict="true" per impedire qualsiasi conversione di tipi di dati 
            in caso di possibile perdita di dati. 
            Impostare explicit="true" per imporre la dichiarazione di tutte le variabili.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <clear />
        <add namespace="System" />
        <add namespace="System.Collections" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Collections.Specialized" />
        <add namespace="System.Configuration" />
        <add namespace="System.Text" />
        <add namespace="System.Text.RegularExpressions" />
        <add namespace="System.Linq" />
        <add namespace="System.Xml.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.Caching" />
        <add namespace="System.Web.SessionState" />
        <add namespace="System.Web.Security" />
        <add namespace="System.Web.Profile" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.WebControls.WebParts" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>
    <!--
            La sezione <authentication> consente di configurare 
            la modalità di autenticazione della sicurezza utilizzata da 
            ASP.NET per identificare un utente in ingresso. 
        -->
    <authentication mode="Windows" />
    <!--
            La sezione <customErrors> consente di configurare 
            l'operazione da eseguire in caso di errore non gestito 
            durante l'esecuzione di una richiesta. In particolare, 
            consente agli sviluppatori di configurare le pagine di errore HTML 
            in modo che vengano visualizzate al posto dell'analisi dello stack dell'errore.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <!--<httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
    </httpHandlers>-->
  </system.web>
  <!-- 
        La sezione system.webServer è richiesta per eseguire ASP.NET AJAX in Internet
       Information Services 7.0. Non è necessaria per la versione precedente di IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>-->
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <!--<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>-->
    </handlers>
  </system.webServer>
  <applicationSettings>
    <WsHeliosPrivato2010.My.MySettings>
      <setting name="WsHeliosPrivato2008_WS_Editor_WSMetodiDocumentazione" serializeAs="String">
        <value>http://www1/sistemaunicoscn/wsdocumentazione/WSmetodidocumentazione.asmx</value>
      </setting>
      <setting name="WsHeliosPrivato2008_WSHeliosInterno_HeliosInterno" serializeAs="String">
        <value>http://www1/sistemaunicoscn/wsheliosinterno/WSheliosinterno.asmx</value>
      </setting>
      <setting name="WsHeliosPrivato2008_WS_HeliosUtility_WSHeliosUtility" serializeAs="String">
        <value>http://www1/sistemaunicoscn/wsheliosutility/wsheliosutility.asmx</value>
      </setting>
    </WsHeliosPrivato2010.My.MySettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://intranet/wsSpid/Service.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService" contract="VerificaTokenSPID.IService"
        name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
</configuration>