
<style>

	.body {
		padding: 2em;
	}


	.logo {
		height: 80px;
		margin-bottom: 20px;
	}

	.hidePrint {
		display: none;
	}

	.panel-body ul {
		margin: 0 0 0 10px;
	}

	.text-center {
		text-align: center;
	}

	.panel {
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 10px;
		margin-top: 15px;
		margin-bottom: 15px;
	}

	ul {
		font-size: 12px;
		margin-left: 20px;
		page-break-inside: avoid;
	}

	li {
		text-align: justify;
	}

	p {
		text-align: justify;
		font-size: 12px;
		margin: 0 0 10px;
		page-break-inside: avoid;
	}


	h3 {
		font-size: 15px;
		font-family: inherit;
		line-height: 1.1;
		color: inherit;
		display: block;
		font-size: 1.17em;
		font-weight: bold;
		text-align: center;
	}
</style>


	<div class="container body-content">
		@RenderBody()
	</div>
