@{
	ViewBag.Title = "Conferma Password";
}

<h2>Conferma Password</h2>
<hr />
<div class="alert alert-success">La password è stata impostata con successo.</div>
<br />
<a href="@Url.Action("Index","Home")">Vai alla Home</a>

