
@{
    ViewBag.Title = "Conferma Recupero Password";
}

<h2>Conferma Recupero Password</h2>
<hr />
<div class="alert alert-success">La richiesta di recupero della password è andata a buon fine. È stata inviata una email all'indirizzo @ViewData["Email"] con le informazioni per il recupero</div>

