@using DomandeOnline.Models
@model LoginViewModel
@{
	ViewBag.Title = "Accesso con credenziali";
}
@if (!string.IsNullOrEmpty(ViewData["Errore"] as String))
{
	<div class="alert alert-danger">@ViewData["Errore"]</div>
}
<h2>Accesso Interno al Sistema</h2>
<div class="row">
	<div class="col-md-8">
		<section id="loginForm">
			<form action="@Url.Action("LoginInterno")" method="post" role="form" class="form-horizontal">
				@Html.AntiForgeryToken()
				<h4>Accedere al sistema inserendo l'username e la password di dominio</h4>
				<hr />
				<div class="form-group">
					<label class="col-md-2 control-label" for="txtUserName">Username</label>
					<div class="col-md-10">
						<input id="txtUserName" class="form-control" type="text" name="userName"
							placeholder="Inserire l'username" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-2 control-label" for="txtPassword">Password</label>
					<div class="col-md-10">
						<input id="txtPassword" class="form-control" type="password" name="password" 
							placeholder="Inserire la password" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input id="chkRicordami" type="checkbox" name="ricordami" value="true"/>
						<label for="chkRicordami">Memorizza Account</label>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Accedi" class="btn btn-default" />
					</div>
				</div>
			</form>
		</section>
	</div>
</div>
