@using DomandeOnline.Models
@model LoginViewModel
@{
	ViewBag.Title = "Recupero Password";
	string errore = ViewData["Errore"] as string;
}
@if (!string.IsNullOrEmpty(errore))
{
	<div class="alert alert-danger alert-dismissible fade in">
		@Html.Raw(errore)
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
}

<h2>Accesso al Sistema</h2>
<div class="row">
	<div class="col-md-8">
		<section id="loginForm">
			<form action="@Url.Action("RecuperoPassword")" method="post" role="form" class="form-horizontal">
				@Html.AntiForgeryToken()
				<h4>Inserire il codice fiscale per il recupero della password. Verrà inviata una e-mail con le istruzioni per il recupero.</h4>
				<hr />
				<div class="form-group">
					<label class="col-md-2 control-label" for="txtCodiceFiscale">Codice Fiscale</label>
					<div class="col-md-10">
						<input id="txtCodiceFiscale" class="form-control" type="text" name="codiceFiscale"
							   placeholder="Inserire il codice fiscale" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Recupero Password" class="btn btn-default" />
					</div>
				</div>
			</form>
		</section>
	</div>
</div>
